html {
    height: 100%;
    background-color: #EEE;
}

body {
    background-color: #FFF;
}

h2 {
    margin-top: 1.5em;
    margin-bottom: -0.3em;
}

pre, p {
    padding-left: 1em;
    padding-right: 1em;
}

pre {
    background-color: #f8f8f8;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul {
    padding-left: 3em;
}

.tech {
    font-family: monospace;
}

.codesample {
    line-height: 1.4;
}

.pyprompt {
    color: #aaa;
}

.pyinput {
    font-weight: bold;
}

.pyoutput {
    color: #333;
}

#topbar {
    width: 100%;
    margin: 0;
    background-color: #EEE;
    border-bottom: 1px solid #CCC;
    min-height: 100px;
}

#logo {
    position: absolute;
    left: 150px;
    width: 150px;
    height: 150px;
}

#title {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 50px;
    font-family: monospace;
}

#nav {
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 310px;
    padding-top: 22px;
    text-align: right;
    margin-right: 10%;

    font-size: 18px;
    font-family: monospace;
}

#prompt {
    display: inline-block;
    padding: 10px;
}

#nav li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    border-radius: 3px;
    background-color: #EEE;
}

#nav li:hover {
    background-color: #DDD;
}

#nav a, #nav a:visited {
    color: black;
}

#bodycolumn {
    max-width: 900px;
    padding-top: 20px;
    margin: 0px auto;
}

#footer {
    background-color: #EEE;
    border-top: 1px solid #DDD;
    width: 100%;
    height: 100px;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.show-more, .show-less {
    margin: 0px auto;
    font-size: 20px;
    width: 200px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

.show-more:hover, .show-less:hover {
    background-color: #EEE;
}

.expandable { overflow: hidden; height: 0px; }
.expand-check { display: none; }
.show-less { display: none; }
.expand-check:checked ~ .expandable { height: auto; }
.expand-check:checked + label .show-more { display: none; }
.expand-check:checked + label .show-less { display: block; }

#announce {
    font-style: italic;
    padding: 30px;
    margin: 20px auto;
    text-align: center;
    background-color: #EEE;
    border: 2px dashed #CCC;
    border-radius: 10px;
}
